hr,img {
    border: 0
}

body,figure {
    margin: 0
}

.img-thumbnail,.thumbnail {
    -o-transition: all .2s ease-in-out
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.pre-scrollable {
    max-height: 340px
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background: 0 0
}

a:active,a:hover {
    outline: 0
}

b,optgroup,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    color: #000;
    background: #ff0
}

sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

hr {
    height: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

pre,textarea {
    overflow: auto
}

code,kbd,pre,samp {
    font-size: 1em
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

.icon,address,cite {
    font-style: normal
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td,th {
    padding: 0
}
